<!-- About Vinoga-->
    <section id="about" class="bg-vinoga">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center header">
                    <h2 class="section-heading text-white">About Vinoga</h2>
                    <h3 class="section-subheading text-white">Vinoga is the most popular video game about wine on Facebook. Players spend hours learning about wine. They are now a very targeted audiance.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-6 infos">
                <ul>
                  <li>  60,000+ players</li>
                  <li>  50% of the player are women aged 30+</li>
                  <li>  Players play in average 1 hour per day</li>
                  </ul>
              </div>
              <div class="col-xs-6">

              </div>
            </div>
        </div>
    </section>
